# Backend API Base URL (ALB DNS or local server)
VITE_API_BASE_URL=http://content-management-alb-941224789.eu-north-1.elb.amazonaws.com

# Polling Interval (ms)
VITE_AUTO_REFRESH_INTERVAL=15000

# AWS Metadata
VITE_AWS_REGION=eu-north-1
VITE_EFS_ID=fs-04d3bc3c56af5a861
VITE_EFS_MOUNT_PATH=/var/www/html/files
